.travel-choose-place-container {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  width: 1510px;
  height: 774px;
  margin-left: 204px;
  margin-top: 120px;
  display: flex;
  flex-direction: column


}

.travel-choose-title {
    display: flex;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #0a1f44;
  align-items: baseline;
  gap: 10px;
}

.travel-choose-content {
  display: flex;
  gap: 2rem;
}

.travel-map-section {
  flex: 2;
  height: 520px;
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid #dcdfe4;
}

.travel-choose-search-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.travel-choose-search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 0.4rem 1rem;
  margin-bottom: 1rem;
  background-color: white;
  height: 48px;
}

.travel-choose-search-bar input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 14px;
  background: transparent;
  margin-bottom: 0px;
}

.travel-choose-search-button {
  background: none;
  border: none;
  cursor: pointer;
}

.travel-place-list {
  list-style: none; 
  padding: 0;       
  margin: 0;
  overflow-y: auto;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.travel-place-item {
  padding: 1rem;
  border-radius: 15px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.1s ease;
  display: flex;
  flex-direction: column;
  background: var(--EEF1F6);
}

.travel-place-item.selected {
  border: 1px solid var(--Galaxy);
}

.travel-place-item.not-selected {
  background-color: var(--EEF1F6); 
}

.travel-place-title {
  font-weight: bold;
  margin-bottom: 0.3rem;
  display: flex;
  align-items: center;
  gap: 8px;
}

.travel-place-address,
.travel-place-desc {
  font-size: 12px;
  color: #555;
}

.travel-remove-button{
    border:none;
}

.travel-category-tabs{
    top:0px;
    left: 0px;
    margin-bottom: 20px;
}

.save-project-bottom-right {
  position: fixed;
  bottom: 2rem;
  right: 3rem;
}

.save-project-save-button {
  background: var(--Planetary);
  color: white;
  border: none;
  border-radius: 999px;
  padding: 0.7rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: background 0.2s ease;
    margin-left: 100px;
    margin-bottom: 80px;
}

.save-project-save-button:hover {
  background: #3554b8;
}
